<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>EXAppExtensionAttributes</key>
	<dict>
		<key>EXExtensionPointIdentifier</key>
		<string>com.apple.appintents-extension</string>
	</dict>
	<key>LatchwayAppIntentComponentDefinitionID</key>
	<string>$(LATCHWAY_APPINTENT_COMPONENT_DEFINITION_ID)</string>
	<key>LatchwayAppIntentFeature</key>
	<string>$(LATCHWAY_APPINTENT_FEATURE)</string>
	<key>LatchwayAppIntentKeychainAccessGroup</key>
	<string>$(LATCHWAY_APPINTENT_SHARED_KEYCHAIN_ACCESS_GROUP)</string>
	<key>LatchwayAppIntentModel</key>
	<string>$(LATCHWAY_APPINTENT_MODEL)</string>
	<key>LatchwayApplicationID</key>
	<string>$(LATCHWAY_APPINTENT_APPLICATION_ID)</string>
	<key>LatchwayEnvironment</key>
	<string>$(LATCHWAY_APPINTENT_ENVIRONMENT)</string>
	<key>LatchwayGatewayURL</key>
	<string>$(LATCHWAY_APPINTENT_GATEWAY_URL)</string>
	<key>LatchwayRootKeychainAccessGroup</key>
	<string>$(LATCHWAY_APPINTENT_ROOT_KEYCHAIN_ACCESS_GROUP)</string>
	<key>RCTNewArchEnabled</key>
	<true/>
</dict>
</plist>
